<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video and Audio WebAPI</title>

    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <!-- Navbar -->

    <div class="navbar flex border-b bg-linear-to-bl from-white to-gray-50 *:hover:bg-amber-50 *:text-2xl">
        <a class="mr-2" href="/">Home</a>
        <a class="mr-2 ml-2" href="/sandbox/video_audio">Video and Audio WebAPIs</a>
    </div>

    <h1>damn this shit is fun. actually, not so much as fun, but the process is enjoyable</h1>
    
</body>
</html>