<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Root Page</title>

    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="p-4">
    <h1>Portfolio Header</h1>
    
    <!-- Navbar -->

    <h2>Navbar Element<h2>

    <!-- About Section -->

    <div class="about-container flex py-10">

        <div class="about-details flex flex-col gap-4">

            <p class="font-bold text-2xl">Edwin Wu</p>
            <p class="text-xl">Software Engineer</p>
            <p class="text-xl">Email: wuedwin03[AT]gmail.com</p>

        </div>

        <img class="w-52 h-52 object-cover ml-10" src="/images/peace.jpg" alt="Me :D"/>

    </div>

    <hr>


    <h2 class="text-2xl font-bold"> stuff to work on </h2>
    <ul class="list-disc list-inside">
        <li>Sandboxing to learn web dev</li>
        <li>Video and Audio WebAPIs</li>
        <li>Drawing Graphics</li>
        <li>Some sorta web game</li>

        <li>Portfolio Page</li>
    </ul>

</body>
</html>